* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------------nav styles------------------------------ */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    margin: 20px 0px;
    margin-bottom: 40px;
}

header {

    border-bottom: 2px solid #d7d7d736;

}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: center;
}

.nav ul li {
    list-style: none;
}

.navbar-logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}



.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(148, 147, 147);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(111, 111, 111);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-craftsmanship a {
    font-size: 16px;
    font-weight: 100;
    margin-left: 15px;
}

.nav-right-links {
    display: flex;
    align-items: center;
}

/* .logo {
    font-size: 1.8rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
} */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
    display: none;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    width: 40%;
    /* top: 5rem;
    left: 18px; */
    /* background-color: lightblue; */
}

/* .nav-links ul{} */
.nav-links ul {
    display: flex;
    width: 80%;

    justify-content: space-between;
    align-items: center;
}

.nav-right-icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.nav-right-icons p {
    padding: 10px 15px;
    cursor: pointer;

}

.nav-right-icons p i {
    font-size: 20px;

}

.nav-bag-icon {
    position: relative;
}

.cart-count-container {
    position: absolute;
    bottom: 6px;
    right: 24px;
    width: 15px;
    height: 15px;
    background-color: #7c3232;
    border-radius: 50%;
    color: white;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;

}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

/* .nav__link a:hover {
    background-color: lightcoral;
} */

/* .hide {
    display: none;
} */

/* --------------------------topheader css----------------------- */
.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.country_img {
    width: 75px;

}

.topheader ul li a {
    font-size: 14px;
    color: #303030;
    font-weight: 400;
    padding: 10px 30px;
}

.topheader {
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
}

.topheader p {
    font-size: 14px;
    color: #303030;
    font-weight: 400;
}



/* ----------------------------footer css---------------------------- */
.footer {
    display: flex;
    align-items: top;
    padding: 2% 5%;
}

.footer-divider-logo-wrapper {
    position: relative;
    width: 98%;
    height: 10px;
    border: 1px solid #eae4cf;
    border-right: none;
    border-left: none;
    margin: 50px auto
}

.footer-divider-logo {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 120px;
    text-align: center;
}

.footer-divider-logo img {
    width: 70px;

}

.footer ul li {
    list-style: none;
    font-size: 16px;
    opacity: 0.8;
    line-height: 36px;

}

.footer-col {
    width: 25%;
    padding: 0 1%;
    box-sizing: border-box;
    text-align: start;

}


.footer-col h2,
.footer-col-last h2 {
    font-size: 16px;
    letter-spacing: 3.2px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 10px;

}

.footer-col-last {
    width: 40%;
    display: inline-block;
}

.footer-col-last p {
    font-size: 14px;
    width: 85%;
}

.footer-input {
    border-bottom: 2px solid #000000;
    background: white;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.footer-input input {
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 10px 10px 10px 0;
}

.footer-input button {
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background: transparent;
}

.footer-input button:focus {
    outline: none;
}

.footer-input input:focus {
    outline: none;
}

.footer-social-media_container {
    margin: 50px 0;
}

.footer-social-media_container h3 {
    font-size: 14px;
}

.social-media {

    display: flex;
    align-items: center;
    margin-top: 15px;
}

.social-media img {
    margin-right: 30px;
}

.footer-copy-right {
    width: 100%;
}

.footer-copy-right p {
    font-size: 14px;
    margin: 0;
    width: 100%;
}

/*--------------------- pagination css--------------------- */

.pagination {
    border-top: 1px solid rgb(223, 225, 225);
    padding: 25px 15px 30px 15px;
}

.pagination-wrapper {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;

}

.socialmediaicons {
    display: inline-block;
    width: auto;
    position: absolute;
    left: 25px;
    margin-top: 10px;
}

.pagination-pages {
    display: inline-block;
}

.pagination-pages-number {
    display: flex;
    align-items: center;
}

.pages {
    padding: 8px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 32px;
}

.pagination-pages-number button {
    padding: 8px 10px;
    background-color: white;
    margin-left: 10px;
    border: 2px solid #d5d5d5;
    cursor: pointer;
}

.pagination-pages-number button span {
    margin-left: 10px;
    font-size: 10px;
}

/*------------------ heading css----------------- */
.content-wrapper {
    padding: 20px;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.heading-wrapper h1 {
    font-size: 32px;
    font-weight: 500;
}

.heading-wrapper p {
    margin-top: 10px;
    opacity: 0.7;
}


.Hide-filter {
    display: inline-block;
    width: fit-content;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    cursor: pointer;
}

.Hide-filter i {
    margin-right: 7px;
}

.hide-filter-wrapper {
    width: 15%;

}

.filter-sortby-wrapper {
    display: flex;
    margin-top: 30px;
}

.sortby-container {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 7px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
}

.sortby-wrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 15px 8px;
}

.filter-name {
    display: flex;
    align-items: center;
    opacity: 1;
    position: relative;
    top: -6px;
    padding: 4px 12px;
    border-radius: 18px;
    margin-right: 5px;
    border: 1px solid #707070;
    margin-left: 13px
        /* margin-bottom: 4px; */
}

.filter-name span {
    font-size: 13px;
    margin-right: 8px;
}

.filter-name i {
    cursor: pointer;
}

.left-container {
    width: 15%;
    padding-top: 10px;
}

.collapsible-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 12px 0;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 1px solid #c4c4c4;
}

.collapsible-wrapper p {
    font-size: 16px;
}

.cards {
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 20px;
}

.card {
    position: relative;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.card img {
    width: 100%;
}

.data-wrapper {
    display: flex;
}

.right-container {
    width: 85%;
}

.product-details {
    padding: 15px 0 20px 0;
}

.product-details .product-name {
    font-size: 14px;
    color: black;
}

.product-details .product-price {
    color: #4C0B36;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    /* background-color: #2196F3; */
    background-color: #982127;
    border: 1px solid #982127;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* .active,
.collapsible-wrapper:hover {
    background-color: #555;
} */

.collapsible-wrapper:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    float: right;
    font-size: 20px;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}






/* Media Query for hamburger */

/* @media screen and (min-width: 600px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
} */

/* @media (max-width: 767px) {
    .footer {
        display: none;
    }
} */






/* all Media-Query */

@media only screen and (max-width: 600px) {

    /* header-content media-query start */
    .content-wrapper {
        padding: 0;
    }

    .heading-wrapper {
        padding: 30px 0;
    }

    .heading-wrapper h1 {
        font-size: 19.2px;
        /* font-weight: 500; */
    }

    .heading-wrapper p {
        margin-top: 5px;
        font-size: 14px;
        color: black;
        opacity: 1;
        font-weight: 600;
    }

    .filter-sortby-wrapper {
        display: none;
    }

    .left-container {
        display: none;
    }

    .right-container {
        width: 100%;
    }

    .cards {
        gap: 10px;
        /* grid-template-columns: repeat(auto-fit, minmax(180px, 3fr)); */
        /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
        grid-template-columns: repeat(2, 1fr);

        padding: 10px;
    }

    header {
        display: none;
    }

    .product-details .product-name {
        font-size: 13px;
        /* color: black; */
    }

    .product-details {
        padding: 0px 0px 10px 0;
    }

    .product-details .product-price {
        margin-top: 5px;
    }

    /* ---------------------pagination start --------------------- */
    .pagination {
        display: none;
    }


    /* <!-------------------------------- footer start -------------------------------------> */

    footer {
        display: none;
    }




    /* -----------end-------- */

    .topheader {
        display: none;
    }

    /* header {
        display: none;
    } */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* header-content media-query start */
    .filter-sortby-wrapper {
        display: none;
    }

    .heading-wrapper {
        padding: 20px 0;
    }

    .left-container {
        display: none;
    }

    .right-container {
        width: 100%;
    }

    .cards {
        gap: 10px;
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
        /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
        grid-template-columns: repeat(3, 1fr);

        padding: 10px;
    }
    

    /* ---------------------pagination start --------------------- */
    .pagination {
        display: none;
    }


    /* <!-------------------------------- footer start -------------------------------------> */

    footer {
        display: block;
    }

    .footer {
        padding: 10px;
    }

    .footer-col {
        width: fit-content;
        width: 20%;
    }

    .footer ul li {
        list-style: none;
        font-size: 13px;
        /* opacity: 0.8; */
        line-height: 20px;

    }

    .footer-col-last {
        display: block;
        width: 25%;
        padding-bottom: 10px;
        /* background-color: red; */
    }

    .footer-col h2,
    .footer-col-last h2 {
        font-size: 14px;
        letter-spacing: 1px;
        /* line-height: 15px; */
        font-weight: 100;
        margin-bottom: 5px;

    }

    .footer-col-last p {
        font-size: 14px;
        width: 100%;
    }

    .footer-input button {
        font-size: 14px;
        /* cursor: pointer; */
        font-weight: 500;
        /* border: none; */
        /* background: transparent; */
    }

    .footer-social-media_container {
        margin: 15px 0;
    }

    .footer-social-media_container h3 {
        font-size: 13px;
        font-weight: 100;
    }

    .social-media {
        /* display: flex;
        align-items: center; */
        margin-top: 10px;
    }

    .social-media img {
        margin-right: 10px;
    }


    .footer-copy-right p {
        font-size: 12px;
        /* margin: 0;
        width: 100%; */
    }

    /* -----------end-------- */

    .topheader {
        display: none;
    }

    /* header {
        display: none;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .filter-sortby-wrapper {
        display: flex;
    }


    .left-container {
        display: block;
        width: 30%;
        padding-top: 10px;
    }

    .collapsible-wrapper p {
        font-size: 14px;
    }

    .Hide-filter {
        font-size: 12px;
        padding: 7px 7px;
    }

    .hide-filter-wrapper {
        width: 30%;
    }

    .sortby-wrapper {
        padding: 0px 11px 15px 8px;
    }

    .filter-name {
        padding: 4px 8px;
        margin-left: 10px
    }

    .filter-name span {
        font-size: 10px;
        margin-right: 8px;
    }

    .sortby-container {
        padding: 5px 4px;
        font-size: 12px;
        width: 100%;
        max-width: 150px;
    }

    .cards {
        gap: 10px;
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
        /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
        grid-template-columns: repeat(3, 1fr);

        padding: 15px;
    }

    /* ---------------------pagination start --------------------- */
    .pagination {
        display: none;
    }


    /* <!-------------------------------- footer start -------------------------------------> */

    footer {
        display: block;
    }

    .footer {
        padding: 10px;
    }

    .footer-col {
        width: fit-content;
        width: 20%;
    }

    .footer ul li {
        list-style: none;
        font-size: 13px;
        line-height: 20px;

    }

    .footer-col-last {
        display: block;
        width: 25%;
        padding-bottom: 10px;
    }

    .footer-col h2,
    .footer-col-last h2 {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 100;
        margin-bottom: 5px;

    }

    .footer-col-last p {
        font-size: 14px;
        width: 100%;
    }

    .footer-input button {
        font-size: 14px;
        font-weight: 500;
        /* border: none; */
    }

    .footer-social-media_container {
        margin: 15px 0;
    }

    .footer-social-media_container h3 {
        font-size: 13px;
        font-weight: 100;
    }

    .social-media {
        margin-top: 10px;
    }

    .social-media img {
        margin-right: 10px;
    }


    .footer-copy-right p {
        font-size: 12px;
    }

    /* --------------------------navbar-------------------------- */
    .topheader {
        display: flex;
    }

    /* header {
        display: block;
    } */

    .topheader p {
        font-size: 12px;
        /* color: #303030;
        font-weight: 400; */
    }

    .topheader ul li a {
        font-size: 12px;
        /* color: #303030; */
        /* font-weight: 400; */
        padding: 7px 15px;
    }

    .country_img {
        width: 63px;

    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* card-css(left-side and right-side) */
    .cards {
        gap: 10px;
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
        /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
        grid-template-columns: repeat(4, 1fr);

        /* padding: 15px; */
    }

    .filter-sortby-wrapper {
        display: flex;
        margin-top: 30px;
    }

    .hide-filter-wrapper {
        width: 17%;

    }

    .sortby-wrapper {
        padding: 0px 18px 15px 8px;
    }

    .left-container {
        width: 20%;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}