* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* nav styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 1.8rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: lightblue;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.nav__link a:hover {
    background-color: lightcoral;
}

.hide {
    display: none;
}

.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.country_img {
    width: 75px;

}

ul li a {
    font-size: 14px;
    color: #303030;
    font-weight: 400;
    padding: 10px 30px;
}

.topheader {
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
}

.topheader p {
    font-size: 14px;
    color: #303030;
    font-weight: 400;
}



/* footer css */
.footer {
    display: flex;
    /* flex-direction: ; */
    /* justify-content: space-between; */
    align-items: top;
    padding: 2% 5%;
}

.footer-divider-logo-wrapper {
    position: relative;
    width: 98%;
    height: 10px;
    border: 1px solid #eae4cf;
    border-right: none;
    border-left: none;
    margin:50px auto
}

.footer-divider-logo {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 120px;
    text-align: center;
}
.footer-divider-logo img{
    width: 70px;
    
}








.footer ul li {
    list-style: none;
    font-size: 16px;
    opacity: 0.8;
    line-height: 36px;

}

.footer-col {
    width: 25%;
    padding: 0 1%;
    box-sizing: border-box;
    text-align: start;

}

.footer-col h2,
.footer-col-last h2 {
    font-size: 16px;
    letter-spacing: 3.2px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 10px;

}

.footer-col-last {
    width: 40%;
}

.footer-col-last p {
    font-size: 14px;
    width: 85%;
}


.footer-input {
    border-bottom: 2px solid #000000;
    background: white;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.footer-input input {
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 10px 10px 10px 0;
}

.footer-input button {
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background: transparent;
}

.footer-input button:focus {
    outline: none;
}

.footer-input input:focus {
    outline: none;
}

.footer-social-media_container {
    margin: 50px 0;
}

.footer-social-media_container h3 {
    font-size: 14px;
}

.social-media {

    display: flex;
    align-items: center;
    margin-top: 15px;
}

.social-media img {
    margin-right: 30px;
}

.footer-copy-right {
    width: 100%;
}

.footer-copy-right p {
    font-size: 14px;
    margin: 0;
    width: 100%;
}



@media screen and (min-width: 600px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer {
        display: none;
    }
}